@import url("https://fonts.googleapis.com/css2?family=Nova+Mono");


.blob {
    flex-direction: column;
}

.blob__lastFetch {
    font-family: 'Nova Mono', monospace;
    font-size: 1rem;
    color: #e0eef9;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.blob__countDown {
    font-family: 'Nova Mono', monospace;
    font-size: 5rem;
    color: #d3d8d6;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}